.trimagenes-contenedor{
    color: white;
    height: 500px;
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    text-align: center;
    overflow: hidden;
}