.bestshop-contenedor{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    width: auto;
    padding-top: 270px;
    padding-left: 130px;
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    text-align: center;

h1{
    color: white;
    font-size: 30px;
}

span{
   color:white;
   font-size: 10px;
}

.bestshop-subcontenedor{
    width: 400px;
}

.bestshop-iconos-cont{
    height: 120px;
    display: flex;
    justify-content: space-between;

}
}