
.historia-contenedor{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 600px;
    width: auto;
    padding-top: 270px;
    padding-left: 160px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: center;
}